body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
    font-size: 14px;
    position: relative;
    padding: 0;
    margin: 0;
}

#body_wrap {
    display: block;    
    width: 70%;
    margin: auto;
    margin-top: 10%;
}

#countdown {
    font-weight: 600;
    color: #A8A8A8;
    font-size: 10px;
}

h1 {
    font-weight: 800;
    font-size: 60px;
}

a, a:hover, a:active, a:visited {
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

#bar {
    height: 7px;
    background-color: #F4DBD6;
    margin-bottom: -20px;
}


#list {
    display: block;
}

.entry {
    background-color: #F4DBD6;
    margin-right: 1.5%;    
    margin-bottom: 1.5%;    
    display: inline-block;
    padding: 2%;
}

.due {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.due:before {
    content: "due on ";
}

.mod {
    display: block;
    font-size: 23px;
    font-weight: 500;
}

.notes {
    display: block;
    font-weight: 300;
    
}
#footer {
    padding: 80px;
    text-align: center;
    color: #939393;
}

#footer a{
    color: #939393;
}

@media only screen and (max-width: 1024px) {
	#body_wrap {
        margin-top: 10%;
        width: 90%;
		margin-left: auto;
		margin-right: auto;
    }
    
}

@media only screen and (max-width: 667px) {
    h1 {
        font-size: 50px;
    }
    
    .entry {
        margin-right: 2%;    
        margin-bottom: 2%;    
        padding: 3%;
    }

    
    body {
        font-size: 12px;        
    }

    .due {
        font-size: 16px;
    }

    .mod {
        font-size: 19px;
    }
}

